<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Course</title>
</head>
<body>
    <form action="/courses" method="post">
        <h2>Create New Course</h2>
        <label for="title">What is the name of this course?</label>
        <input type="text" id="title" name="title">
        <button type="submit">submit</button>
    </form>
</body>
</html>