<div class="flex w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 max-w-sm rounded-xl bg-gradient-to-tr from-pink-300 to-blue-300 p-0.5 shadow-lg">
    <a href="/addCourse" class="flex-1 font-bold text-xl bg-white px-6 py-3 rounded-xl">Create a new course</a>
</div>
<div class="flex w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 max-w-sm rounded-xl bg-gradient-to-tr from-pink-300 to-blue-300 p-0.5 shadow-lg">
    <a class="flex-1 font-bold text-xl bg-white px-6 py-3 rounded-xl">My courses</a>
</div>
<div class="flex w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 max-w-sm rounded-xl bg-gradient-to-tr from-pink-300 to-blue-300 p-0.5 shadow-lg">
    <a class="flex-1 font-bold text-xl bg-white px-6 py-3 rounded-xl">View reports</a>
</div>