<div class="lg:flex lg:items-center lg:justify-between bg-slate-100 border-2 px-3 ">  
  <a href="/"><div class="min-w-0 flex-1">
           
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight p-4">Learning Management System</h2>
    </div></a>

    <% if(user){ %>
      <div class="mt-5 flex lg:ml-4 lg:mt-0">
        <span class="sm:ml-3">
          <a href="/signout" class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
              Sign out
          </a>
        </span>
      </div>
      <%}else{%>
      <div class="mt-5 flex lg:ml-4 lg:mt-0">
        <span class="hidden sm:block">
          <a href="/login" class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
              Login
          </a>
        </span>
        <span class="sm:ml-3">
          <a href="/signup" class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
              Signup
          </a>
        </span>
      </div>
    <%}%>
</div>
  