<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS | Pages</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <%- include('header.ejs') %>
    <div class=" m-3 border-2 p-4">
    <h2 class="font-bold text-center text-3xl text-slate-700 font-display px-3">
        <%= chapter.title %>
    </h2>
    <div class="bg-white p-8 rounded-md w-full">
        <div class=" flex items-center justify-between pb-6">
            <div class="flex w-full items-center justify-between">
                <div class="px-6">
                    <h2 class="text-gray-600 font-bold text-xl px-3">Pages</h2>
                </div>
                    <div class="lg:ml-40 ml-10 space-x-8">
                        <% if(user.id == course.userId){%>
                        <a href="addPage" class="bg-indigo-600 px-4 py-2 mr-3 rounded-md text-white font-semibold tracking-wide cursor-pointer">Create</a>
                        <% } %>
                    </div>
                </div>
            </div>
            <div>
                <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                    <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                        <% if(pages.length==0){%>
                            <h2 class="font-bold text-center text-2xl text-slate-500 font-display p-10">
                                No pages Available..!
                            </h2>
                            <%} else{ %>
                                <ul role="list" class="divide-y divide-gray-100">
                                <% for(var i=0;i< pages.length;i++){ %>
                                    <a href="pages/<%= pages[i].id %>">
                                        <li class="flex justify-between gap-x-6 py-5 m-1  text-gray-900 hover:text-indigo-900 border-1 bg-gray-100">
                                            <div class="flex min-w-0 gap-x-4 ">
                                                <div class="min-w-0 flex-auto px-5 ">
                                                    <p class="text-lg font-semibold leading-2"><%= pages[i].title %></p>
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                <%}%>
                            </ul>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>